VITE_FIREBASE_API_KEY=AIzaSyCA-HlVUO68fozpAFSLz3XPM7OhM4Me1A8
VITE_FIREBASE_AUTH_DOMAIN=borderless-e4a6a.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=borderless-e4a6a
VITE_FIREBASE_STORAGE_BUCKET=borderless-e4a6a.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=774098896837
VITE_FIREBASE_APP_ID=1:774098896837:web:6805173af4fb817246edac
VITE_FIREBASE_MEASUREMENT_ID=G-MH9VR5WQHC
VITE_ENABLE_ANALYTICS=false
